body {
  font-family: Arial, sans-serif;
  margin: 0;
  color: black;
  background-color: white;
}
main {
  height: 70vh;
  width: calc(200% / 3);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  margin: 0 auto 0 auto;
  margin-top: 32px;
  gap: 3px;
}

main div {
  background-color: purple;
}
